.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url(../../../images/profile__pencil.svg) no-repeat center;
    border: 1px solid #ffffff;
}


.profile__edit-button:hover {
  background: url(../../../images/profile__pencil_hover.svg) no-repeat center;
    border: 1px solid #545454;
}