.profile__add-button {
    width: 100%;
    min-height: 50px;
    border: 2px solid #ffffff;
    align-self: center;
    display: grid;
    background: url(../../../images/profile__plus.svg) no-repeat center;
    border-radius: 2px;
}


.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}


@media screen and (max-width: 1049px) and (min-width: 568px) {
    .profile__add-button {
      width: 70%;
    }
  }


@media screen and (max-width: 567px) {
  .profile__add-button {
    width: 100%;
  }
}